# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.backup

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
venv/

# Docker
*.log

# Ansible
*.retry

# Kubernetes Helm
k8s/helm/charts/

# System files
.DS_Store
Thumbs.db

# Vagrant
.vagrant/

# Temporary / build
*.tmp
*.bak